{% comment %}
  Accepts:
  - product: {Object} Product (required)
  - show_variant_options: {Boolean} Show variant swatches at the bottom (optional)
  - hide_title: {String} Hide product title (optional)
  - image_ratio: {String} Product media ratio (optional)
  - show_vendor: {Boolean} Show product vendor (optional)
  - show_cart_button: {Boolean} Show Add to cart button (optional)
  - show_quickview_button: {Boolean} Show Quickview button (optional)
  - show_wishlist_button: {Boolean} Show Wishlist button (optional)
  - column_wrapper: {Boolean} Wrap product card (optional)
  - remove_params: {Boolean} Remove url params (optional)

  Usage:
  {% render 'product-card-5', product: product %}
{% endcomment %}

{% liquid
  if show_variant_options == null
    assign show_variant_options = settings.show_swatch_option
  endif
  if show_inventory == null
    assign show_inventory = settings.pcard_show_inventory
  endif

  assign show_title = true
  if hide_title == true
    assign show_title = false
  endif

  if image_ratio == null or image_ratio == blank
    assign image_ratio = settings.pcard_image_ratio | default: '1/1'
  endif

  if image_ratio == 'original'
    assign image_ratio = product.featured_image.aspect_ratio | default: '1/1'
  endif

  if show_vendor == null
    assign show_vendor = settings.show_vendor
  endif
  if show_brand == null
    assign show_brand = settings.show_brand
  endif
  
  assign sold_out = false
  if product.available == false
    assign sold_out = true
  endif

  if show_desc == null
    assign show_desc = true
  endif

  assign discount = ''
  assign compare_at_price = product.compare_at_price
  assign price = product.price
  assign on_sale = false
  if compare_at_price > price
    assign on_sale = true
    assign discount = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price
  endif

  assign show_on_sale_badge = false
  if settings.on_sale_badge != 'hide' and on_sale
    assign show_on_sale_badge = true
  endif

  assign quick_add_text = 'products.product.quick_add' | t
  unless product.has_only_default_variant
    capture quick_add_text
      render 'new-locale', key: 'products.product.select_options'
    endcapture
  endunless

  assign sold_number = product.metafields.foxkit.sold_number
  assign selected_variant = product.selected_or_first_available_variant

  if product.available
    assign variant_id = product.first_available_variant.id
  else
    assign variant_id = product.selected_or_first_available_variant.id
  endif
  assign selected_variant_id = ''
  if section.settings.change_product_variant_on_fitlering
    assign variant_id = product.selected_or_first_available_variant.id
    assign selected_variant_id = product.selected_variant.id
  endif

  if pcard_alignment == null
    assign pcard_alignment = settings.pcard_alignment
  endif

  assign pcard_default_image = settings.pcard_default_image
  if image_ratio == null or image_ratio == blank
    assign image_ratio = settings.pcard_image_ratio | default: '1/1'
  endif

  if show_cart_button == null
    assign show_cart_button = settings.show_cart_button
  endif

  if show_quickview_button == null
    assign show_quickview_button = settings.show_quickview_button
  endif

  if show_wishlist_button == null
    assign show_wishlist_button = settings.show_wishlist_button
  endif

  if show_compare_button == null
    assign show_compare_button = settings.show_compare_button
  endif

  assign preview_image = product.media[0].preview_image
  if section.settings.change_product_variant_on_fitlering == true and product.selected_variant.image != null
    assign preview_image = product.selected_variant.image
  endif

  if image_ratio == 'original'
    assign image_ratio = product.media[0].aspect_ratio | default: '1/1'
  endif

  assign second_image = ''
  if settings.show_second_img and product.images.size > 1 and product.images[1] != blank
    assign second_image = product.images[1]
  endif

  assign product_card_classes = 'm-product-card m-product-card--style-5'
  if sold_out
    assign product_card_classes = product_card_classes | append: ' m-product-card--soldout'
  endif
  if on_sale
    assign product_card_classes = product_card_classes | append: ' m-product-card--onsale'
  endif
  if settings.show_second_img and second_image != blank
    assign product_card_classes = product_card_classes | append: ' m-product-card--show-second-img'
  endif
  if show_wishlist_button
    assign product_card_classes = product_card_classes | append: ' m-product-card--enable-wishlist'
  endif

  assign product_url = product.url
  if remove_params
    assign product_url = product.url | split: '?' | first
  endif

  assign first_media_type = product.media.first.media_type

  assign show_video = false
  if settings.pcard_show_video and first_media_type == 'video'
    assign show_video = true
  endif

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if index == 1 and section_index <= 2
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif
%}

{%- if column_wrapper -%}<div class="m:column">{%- endif -%}
<div
  class="{{ product_card_classes }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
  data-view="card"
  {% if sold_number != blank %}
    data-sold-number="{{ sold_number }}"
  {% endif %}
  data-product-id="{{ product.id }}"
  {% if animated %}
    data-cascade
    style="--animation-order: {{ index }};"
  {% endif %}
>
  <div class="m-product-card__media">
    <a
      class="m-product-card__link m:block m:w-full"
      href="{{ product_url }}"
      aria-label="{{ product.title | default: 'product title' }}"
    >
      {% if preview_image != blank or first_media_type == 'video' %}
        {% unless show_video %}
          <div class="m-product-card__main-image">
            {%- liquid
              assign asp_rat = image_ratio | default: preview_image.aspect_ratio
              if asp_rat == 'original'
                assign asp_rat = preview_image.aspect_ratio
              endif
              assign alt = alt | default: preview_image.alt | escape
            -%}
            {%- capture sizes -%}(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2){%- endcapture -%}
            <responsive-image class="m-image" style="--aspect-ratio: {{ asp_rat }}">
              {{
                preview_image
                | image_url: width: 1100
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'm:w-full m:h-full',
                  alt: alt,
                  sizes: sizes,
                  widths: '165, 360, 535, 750, 940, 1100'
              }}
            </responsive-image>
          </div>

          {%- if second_image != blank -%}
            <div class="m-product-card__hover-image">
              {%- liquid
                assign asp_rat = image_ratio | default: second_image.aspect_ratio
                if asp_rat == 'original'
                  assign asp_rat = second_image.aspect_ratio
                endif
                assign alt = alt | default: second_image.alt | escape
              -%}
              {%- capture sizes -%}(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2){%- endcapture -%}
              <responsive-image class="m-image" style="--aspect-ratio: {{ asp_rat }}">
                {{
                  second_image
                  | image_url: width: 1100
                  | image_tag:
                    loading: 'lazy',
                    class: 'm:w-full m:h-full',
                    alt: alt,
                    sizes: sizes,
                    widths: '165, 360, 535, 750, 940, 1100'
                }}
              </responsive-image>
            </div>
          {%- endif -%}
        {% else %}
          <m-video-component
            class="m:block m-product-card__video"
            data-type="mp4"
            style="--aspect-ratio: {{ image_ratio }}"
          >
            {{
              product.media.first
              | media_tag:
                image_size: '1500px',
                autoplay: true,
                loop: true,
                controls: false,
                muted: true,
                playsinline: true
            }}
          </m-video-component>
        {% endunless %}
      {% else %}
        {% if pcard_default_image != blank %}
          {%- liquid
            assign asp_rat = image_ratio | default: pcard_default_image.aspect_ratio
            if asp_rat == 'original'
              assign asp_rat = pcard_default_image.aspect_ratio
            endif
            assign alt = alt | default: pcard_default_image.alt | escape
          -%}
          {%- capture sizes -%}(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2){%- endcapture -%}
          <responsive-image class="m-image" style="--aspect-ratio: {{ asp_rat }}">
            {{
              pcard_default_image
              | image_url: width: 1100
              | image_tag:
                loading: 'lazy',
                class: 'm:w-full m:h-full',
                alt: alt,
                sizes: sizes,
                widths: '165, 360, 535, 750, 940, 1100'
            }}
          </responsive-image>
        {% else %}
          <div style="--aspect-ratio: {{ image_ratio }}">
            {{ 'product-1' | placeholder_svg_tag: 'm-placeholder-svg' }}
          </div>
        {% endif %}
      {% endif %}
    </a>
    <div class="m-product-card__tags">
      {% if settings.show_badge_sale %}
        {% for tag in product.tags %}
          {% if tag contains 'tag__' %}
            {%- liquid
              assign tag_content = tag | split: '__' | last
              assign type = tag_content | split: '_' | first
              assign tag_name = tag_content | split: '_' | last
              assign color_scheme_class = 'm-gradient m-color-'
              case type
                when 'sale':
                  assign color_scheme_class = color_scheme_class | append: settings.sale_badge_color_scheme
                when 'new':
                  assign color_scheme_class = color_scheme_class | append: settings.new_badge_color_scheme
                when 'hot':
                  assign color_scheme_class = color_scheme_class | append: settings.hot_badge_color_scheme
              endcase
            -%}
            <span class="m-product-card__tag-name m-product-tag m-product-tag--{{ type }} {{ color_scheme_class }}">
              {{- tag_name -}}
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% assign custom_badge_class = 'm-product-card__tag-name m-product-tag m-product-tag--preorder m-gradient m-color-'
        | append: settings.preorder_badge_color_scheme
      %}
      {% capture foxkit_preorder_badge %}{% render 'foxkit-preorder-badge', product: product, static: true, custom_class: custom_badge_class %}{% endcapture %}
      {% unless foxkit_preorder_badge contains 'Liquid error' %}
        {{ foxkit_preorder_badge }}
      {% endunless %}
      {% if show_on_sale_badge %}
        <span class="m-product-card__tag-name m-product-tag m-product-tag--sale m-gradient m-color-{{ settings.sale_badge_color_scheme }}">
          {%- if settings.on_sale_badge == 'show_text' -%}
            {{ 'products.product.on_sale' | t }}
          {%- elsif settings.on_sale_badge == 'show_percentage' -%}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.45526 2.45322L10.5428 1.92147C11.0445 1.67622 11.6513 1.87272 11.913 2.36697L12.4808 3.43647C12.6308 3.71847 12.9023 3.91572 13.2173 3.97122L14.4098 4.18047C14.9603 4.27722 15.3345 4.79247 15.2565 5.34597L15.087 6.54447C15.042 6.86097 15.1463 7.18047 15.3683 7.40997L16.2098 8.27997C16.5983 8.68122 16.5983 9.31872 16.2098 9.72072L15.3683 10.5907C15.1463 10.8202 15.042 11.1397 15.087 11.4562L15.2565 12.6547C15.3345 13.2082 14.9603 13.7235 14.4098 13.8202L13.2173 14.0295C12.9023 14.085 12.6308 14.2822 12.4808 14.5642L11.913 15.6337C11.6513 16.1272 11.0453 16.3245 10.5428 16.0792L9.45526 15.5475C9.16801 15.4072 8.83276 15.4072 8.54551 15.5475L7.45801 16.0792C6.95626 16.3245 6.34951 16.128 6.08776 15.6337L5.52001 14.5635C5.37001 14.2815 5.09851 14.0842 4.78351 14.0287L3.59101 13.8195C3.04051 13.7227 2.66626 13.2075 2.74426 12.654L2.91376 11.4555C2.95876 11.139 2.85451 10.8195 2.63251 10.59L1.79101 9.71997C1.40251 9.31872 1.40251 8.68122 1.79101 8.27922L2.63251 7.40922C2.85451 7.17972 2.95876 6.86022 2.91376 6.54372L2.74501 5.34522C2.66626 4.79247 3.04126 4.27647 3.59176 4.18047L4.78426 3.97122C5.09851 3.91572 5.37001 3.71847 5.52001 3.43647L6.08776 2.36697C6.34951 1.87347 6.95551 1.67622 7.45801 1.92147L8.54551 2.45322C8.83201 2.59347 9.16801 2.59347 9.45526 2.45322Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.75 11.25L11.25 6.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.93675 6.75C6.83325 6.75 6.74925 6.834 6.75 6.9375C6.75 7.041 6.834 7.125 6.9375 7.125C7.041 7.125 7.125 7.041 7.125 6.9375C7.125 6.834 7.041 6.75 6.93675 6.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11.0618 10.875C10.9583 10.875 10.8743 10.959 10.875 11.0625C10.875 11.166 10.959 11.25 11.0625 11.25C11.166 11.25 11.25 11.166 11.25 11.0625C11.25 10.959 11.166 10.875 11.0618 10.875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>{{ discount | append: '%' | append: ' OFF' }}</span>
          {%- endif -%}
        </span>
      {% endif %}
    </div>
    {%- if settings.show_badge_soldout -%}
      <span
        class="m-product-tag m-product-tag--soldout m-gradient m-color-{{ settings.soldout_badge_color_scheme }}"
        {% unless sold_out %}
          style="display: none;"
        {% endunless %}
      >
        {{- 'products.product.sold_out' | t -}}
      </span>
    {%- endif -%}
    {%- if show_wishlist_button -%}
        <div class="m-product-card__action m-product-card__action--top m-product-card__wishlist">
          {% assign wishlist_app = settings.wishlist_app %}
          {% if wishlist_app == 'growave' %}
            <div class="m-tooltip m-wishlist-button m-button--icon m-tooltip--style-1 m-tooltip--left">
              <span class="m-tooltip-icon m:block">
                {% comment %} theme-check-disable {% endcomment %}
                {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
                {% unless the_snippet_fave_icon contains 'Liquid error' %}
                  {{ the_snippet_fave_icon }}
                {% else %}
                  {% render 'mm-ssw-widget-faveicon' with product.id %}
                {% endunless %}
                {% comment %} theme-check-enable {% endcomment %}
              </span>
              <div class="m-tooltip__content " data-revert-text="">
                {{ 'products.product.add_to_wishlist' | t }}
              </div>
            </div>
          {% else %}
            {% render 'tooltip', type: 'wishlist', product: product, class_name: 'm-tooltip--left' %}
          {% endif %}
        </div>
      {%- endif -%}

    {%- if show_cart_button or show_compare_button or show_quickview_button -%}
      <div class="m-product-card__action m-product-card__action--bottom m-product-card__addons m:display-flex">
        {% liquid
          assign tooltips = 'add-to-cart,compare,quickview'
          assign tooltip_items = tooltips | split: ','
        %}

        {%- for tooltip in tooltip_items -%}
          {%- assign settings_key = 'show_' | append: tooltip | append: '_button' | replace: 'add-to-cart', 'cart' -%}
          {%- if [settings_key] -%}
            {% render 'tooltip', type: tooltip, section: section, product: product, class_name: 'm-tooltip--left' %}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}

    {% liquid
      assign metafields_time = product.metafields.global.minimog_countdown
      if settings.show_countdown and metafields_time != blank
        render 'countdown-timer', time: metafields_time, separator: false, short_label: true, extra_classes: 'm-product-card__countdown m:hidden'
      endif
    %}
  </div>
  <div class="m-product-card__content m:text-{{ pcard_alignment }}">
    <div class="m-product-card__info">
      {%- if show_vendor -%}
        <span class="m-product-card__vendor">{{ product.vendor }}</span>
      {%- endif -%}
      {% if product.metafields.custom.brand != blank %}
        <div class="m-product-card__brand">{{ product.metafields.custom.brand }}</div>
      {% endif %}
      {% if show_title == true %}
        <h3 class="m-product-card__title">
          <a
            href="{{ product_url }}"
            class="m-product-card__name{% if settings.uppercase_prd_name %} m:uppercase{% endif %}"
          >
            {{ product.title }}
          </a>
          {% comment %}
          {% for variant in product.variants %}
            {% unless variant.title == "" or variant.title == "Default Title" %}
              <div class="c-variant__name">
                <p>{{ variant.title }}</p>
              </div>
            {% endunless %}
          {% endfor %}
{% endcomment %}

        </h3>
      {% endif %}
      {% if settings.show_review_badge %}
        <div class="m-product-card__reviews m:text-color-body">
          {% render 'product-reviews-app__badge', product: product %}
        </div>
      {% endif %}

      <div class="m-product-card__price">
        {% render 'product-prices', product: product, is_product_card: true %}
      </div>
      {% if product.has_only_default_variant == false and show_variant_options %}
        {% render 'product-card-option',
          product: product,
          show_variant_options: show_variant_options,
          pcard_alignment: pcard_alignment
        %}
      {% endif %}
      {%- if show_inventory and selected_variant.inventory_management != blank -%}
        {%- liquid
          assign inventory_threshold = settings.low_inventory_threshold
          assign show_inventory_count = settings.show_inventory_count
          assign inventory_visibility = settings.inventory_visibility
          assign inventory_hide_backordered = settings.inventory_hide_backordered

          assign total = 0
          assign inventory_policy = ''
          for variant in product.variants
            if variant.inventory_quantity > 0
              assign total = total | plus: variant.inventory_quantity
            endif
            if variant.inventory_policy == 'continue'
              assign inventory_policy = 'continue'
            endif
          endfor

          if total <= 0
            if inventory_policy == 'continue'
              assign status = 'backordered'
            elsif product.available
              assign status = 'instock'
            else
              assign status = 'outofstock'
            endif
          elsif total <= inventory_threshold
            assign status = 'low'
          else
            assign status = 'normal'
          endif

          assign show = false
          if inventory_visibility == 'always'
            assign show = true
            if status == 'backordered' and inventory_hide_backordered
              assign show = false
            endif
          else
            if status == 'low'
              assign show = true
            endif
          endif

          if status == 'outofstock'
            assign show = false
          endif

          assign show_inventory_number = true
          if show_inventory_count == 'never' or total <= 0 or show_inventory_count == 'low_inventory' and status != 'low'
            assign show_inventory_number = false
          endif
        -%}
        {%- if show == true -%}
          <div class="m-product-inventory m-product-card__inventory m:text-sm" data-status="{{ status }}">
            <div class="m-product-inventory__inner">
              <span class="m-product-inventory__text">
                <span class="m-product-inventory__pin"></span>
                <span class="m-product-inventory__status">
                  {% liquid
                    case status
                      when 'backordered'
                        render 'new-locale', key: 'products.product.backordered'
                      when 'low'
                        if show_inventory_number
                          render 'new-locale', key: 'products.product.inventory_low_quantity_html', param: '{{ quantity }}', value: total
                        else
                          render 'new-locale', key: 'products.product.low_stock'
                        endif
                      else
                        if show_inventory_number
                          render 'new-locale', key: 'products.product.inventory_quantity_html', param: '{{ quantity }}', value: total
                        else
                          echo 'products.product.in_stock' | t
                        endif
                    endcase
                  %}
                </span>
              </span>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>

    <div class="m-product-card__content-footer">
      {%- if show_desc -%}
        <div class="m-product-card__description">
          {{ product.description | strip_html | truncatewords: 15, '...' }}
        </div>
      {%- endif -%}
      {%- if show_quickview_button or show_wishlist_button or show_compare_button or show_cart_button -%}
        <div class="m-product-card__action">
          {% render 'product-card-quick-add-btn', product: product, quick_add_text: quick_add_text, section: section %}
          <div class="m-product-card__action-icons">
            {% liquid
              assign tooltips = 'compare,quickview,'
              assign tooltip_items = tooltips | split: ','

              if show_cart_button
                render 'tooltip', type: 'add-to-cart', section: section, product: product, class_name: 'm-tooltip--top m-product-card__atc-button'
              endif
            %}

            {%- if show_wishlist_button -%}
              {% assign wishlist_app = settings.wishlist_app %}
              {% if wishlist_app == 'growave' %}
                <div class="m-tooltip m-wishlist-button m-button--icon m-tooltip--style-1 m-tooltip--top">
                  <span class="m-tooltip-icon m:block">
                    {% comment %} theme-check-disable {% endcomment %}
                    {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
                    {% unless the_snippet_fave_icon contains 'Liquid error' %}
                      {{ the_snippet_fave_icon }}
                    {% else %}
                      {% render 'mm-ssw-widget-faveicon' with product.id %}
                    {% endunless %}
                    {% comment %} theme-check-enable {% endcomment %}
                  </span>
                  <div class="m-tooltip__content " data-revert-text="">
                    {{ 'products.product.add_to_wishlist' | t }}
                  </div>
                </div>
              {% else %}
                {% liquid
                  render 'tooltip', type: 'wishlist', product: product, class_name: 'm-tooltip--top'
                %}
              {% endif %}
            {%- endif -%}

            {%- for tooltip in tooltip_items -%}
              {%- assign settings_key = 'show_'
                | append: tooltip
                | append: '_button'
                | replace: 'add-to-cart', 'cart'
              -%}
              {%- if [settings_key] -%}
                {% render 'tooltip', type: tooltip, section: section, product: product, class_name: 'm-tooltip--top' %}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
  <input hidden name="id" required value="{{ variant_id }}" data-selected-variant="{{ selected_variant_id }}">
</div>
{%- if column_wrapper -%}</div>{%- endif -%}
