{% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
  {% if display_by == 'icon' %}
    <a
      href="{{ routes.account_url }}"
      class="m-header__account{% if box_size != blank %} {{ box_size }}{% endif %}"
      aria-label="{{ 'layout.customer.account' | t  }}"
    >
      <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
        <!-- <svg
          class="m-svg-icon--medium"
          fill="currentColor"
          stroke="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"/>
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M12 11.25C9.9471 11.25 8.267 9.57068 8.267 7.517H6.767C6.767 10.3993 9.1189 12.75 12 12.75V11.25ZM8.267 7.517C8.267 5.45594 9.95445 3.75 12 3.75V2.25C9.11155 2.25 6.767 4.64206 6.767 7.517H8.267ZM12 3.75C14.0529 3.75 15.733 5.42932 15.733 7.483H17.233C17.233 4.60068 14.8811 2.25 12 2.25V3.75ZM15.733 7.483C15.733 9.54406 14.0456 11.25 12 11.25V12.75C14.8884 12.75 17.233 10.3579 17.233 7.483H15.733ZM19 20.25H5V21.75H19V20.25ZM5 20.25C4.86421 20.25 4.75 20.1358 4.75 20H3.25C3.25 20.9642 4.03579 21.75 5 21.75V20.25ZM4.75 20V19H3.25V20H4.75ZM4.75 19C4.75 17.2142 6.21421 15.75 8 15.75V14.25C5.38579 14.25 3.25 16.3858 3.25 19H4.75ZM8 15.75H16V14.25H8V15.75ZM16 15.75C17.7858 15.75 19.25 17.2142 19.25 19H20.75C20.75 16.3858 18.6142 14.25 16 14.25V15.75ZM19.25 19V20H20.75V19H19.25ZM19.25 20C19.25 20.1358 19.1358 20.25 19 20.25V21.75C19.9642 21.75 20.75 20.9642 20.75 20H19.25Z" fill="#141511"/>
        </svg>
        <span class="m-tooltip__content">{{ 'layout.customer.account' | t }}</span>
      </span>
    </a>
  {% else %}
    <a
      href="{{ routes.account_url }}"
      class="m-header__account-text{% if box_size != blank %} {{ box_size }}{% endif %}"
      aria-label="{{ 'layout.customer.account' | t  }}"
    >
      {{ 'layout.customer.account' | t }}
    </a>
  {% endif %}
{% endif %}
